@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }

p {
    margin: 0 0 10px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333;
    background-color: #ffff;
}
